:root {
  background: #fefef6;
  font-family: "Poppins", sans-serif;
  --primary-color: #53992b;
}

@font-face {
  font-family: "Blogh";
  src: url("/assets/fonts/Blogh.otf");
  font-weight: 400;
  font-style: normal;
}

body {
  background: #fefef6;
  margin: 0;
  padding: 0;
}

.blogh-regular {
  font-family: "Blogh";
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #013941;
}

.poppins-regular {
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-weight: 700;
  font-style: normal;
}

.primary-color {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.nav-bar {
  border-bottom: 1px rgba(1, 57, 65, 0.2) solid;
}

.nav-logo {
  margin-bottom: 5px;
}

/* Carousel */
.carousel-section {
  height: 76vh;
}

.slider {
  height: 78vh !important;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 0 6px;
}
.carousel-indicators {
  left: 5%;
  top: 50px;
}

.carousel-indicators li {
  height: 8px;
  width: 8px;
  opacity: 0.3;
  background: white;
  margin: 0 6px;
}

/* Registration section */

.registration-section {
  height: 78vh;
  border-radius: 24px;
  background-color: #f6f6eb;
  padding: 8px 1px;
  z-index: 2;
}

.reg {
}

.registration {
  height: 74vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  padding: 20px 30px;
}

/* scroll of registration */
.registration::-webkit-scrollbar {
  z-index: -2;
  width: 8px;
  padding-left: 2px;
  padding-right: 2px;
}

.registration::-webkit-scrollbar-track {
  background: #ebebde;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.registration::-webkit-scrollbar-thumb {
  background: #9be5c6;
  border-radius: 30px;
}

.registration::-webkit-scrollbar-thumb:hover {
  background: #53992b;
  border-radius: 30px;
}

.header-text {
  font-size: 3.9vw;
}

.description-text {
  font-size: 23px;
  position: relative;
  bottom: 20px;
  font-weight: 500;
  color: #013941;
  opacity: 0.7;
}

.social-button {
  margin: 0px 5px;
  padding: 2% 6.5%;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: #fff;
}

.social-icon {
  height: 30px;
}

.form-section {
  padding-bottom: 100px;
}

.social-section {
  position: relative;
  top: 30px;
}

.label-text {
  font-size: 1.7rem;
  color: #030303;
}

.input-style {
  margin-top: 10px;
  padding: 25px 18px;
  border-radius: 20px;
  border: 1px #92929d solid;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #f6f6eb;
}

.input-style::placeholder {
  color: #92929d;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.input-style:focus {
  outline: none;
  background-color: #f6f6eb;
  border: 1px var(--primary-color) solid;
}

.select-style {
  margin-top: 10px;
  padding: 12.5px;
  border-radius: 24px;
  border: 1px #92929d solid;
  color: black;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #f6f6eb;
}

.select-style:invalid {
  color: #92929d;
}

.select-style option[disabled] {
  color: #92929d;
}

.select-style option {
  color: black;
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.btn-style {
  width: 90%;

  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #5cd66d;
  box-shadow: 0px 10px 19px 11px rgba(0, 212, 126, 0.18);
  border-radius: 90px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border: none;
  color: white;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  transition: 0.3s;
  margin: 0 5%;

  /* background-color: var(--primary-color);
    
    width: 100%;
    
    padding: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #fff; */
}

.footer {
  background-color: #fefef6;
  padding: 20px 20px;
  border-top: 2px #01394133 solid;
  border-right: 2px #01394133 solid;
  border-left: 2px #01394133 solid;
  height: 8.4vh;
  margin: 50px 5% 0;
  border-radius: 24px 24px 0 0;
}

.footer-logo {
}

.copy-rights-text {
  margin-top: 8px;
  color: #92929d;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.btn-style:hover {
  background-color: #2eb75c;
  color: #fff;
  width: 80%;
  margin: 0 10%;
  box-shadow: none;
}

.btn-style:active {
  background-color: #2eb75c;
  color: #fff;
  border: none;
}

.btn-style:disabled {
  background-color: #a6a6a6;
  color: white;
}

.btn-style:disabled:hover {
  background-color: #53992b33;
  color: white;
}

.btn-style:checked {
  background-color: #2eb75c;
  color: white;
}

.btn-style:focus {
  background-color: #2eb75c;
  color: white;
}

.stiky-btn {
  background: linear-gradient(180deg, rgba(246, 246, 235, 0) 0%, #f6f6eb 37%);
  border-radius: 0 0 24px 24px;
  position: absolute;
  bottom: 0px;
  width: 90%;
  padding: 40px 0 20px;
}

/* Break points */

@media (max-width: 768px) {
  .carousel-indicators {
    left: -27%;
    bottom: 8%;
  }
  .carousel-indicators li {
    height: 6px;
    width: 6px;
  }
  .carousel-indicators .active {
    height: 6px;
  }

  .registration-section {
    height: 100%;
    background-color: #f6f6eb;
    border-radius: 0;
    z-index: 2;
    padding: 0px 30px;
  }

  .registration {
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 20px;
    padding: 40px 10px;
  }

  .blogh-regular {
    font-family: "Blogh";
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    color: #013941;
  }

  .remove-padding {
    padding: 0;
  }

  .description-text {
    font-size: 15px;
    bottom: 10px;
    font-weight: 500;
    color: #013941;
    opacity: 0.7;
  }
  .form-section {
    padding-bottom: 120px;
  }

  .stiky-btn {
    width: 90%;
  }

  .btn-style {
    width: 80%;
  }

  .footer-logo img {
    width: 100px;
  }

  .social-logos img {
    width: 30px;
  }
}

@media (max-width: 400px) {
  /* .header-text{
        font-size: 2.4rem ;
    }
    
    .description-text{
        font-size: 1rem ;
        color: #92929D;
    
    }
    .social-button{
        padding: 2% 2%;
    } */
}

@media (max-width: 300px) {
}
